@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/*-- scss:defaults --*/

// Custom color palette:

$dusk: #2E353B;
$night: #253238;
$midnight: #1C262B;

$river: #06c6ca;
$sea:	#009DA0;
$sea-med: #007d80;
$sea-dark: #00585A;
$sea-night: #00393A;
 
$rainforest: #009a84;
 
$forest: #77b131;
$forest-dark: #385c13;
 
$jungle-light: #a3ba00;
$jungle: #8ca000; 
$jungle-dark: #6b8e23;

$danger: #DB4545;
$danger-dark: #A12C3B;
$danger-night: #681A1A;
 
$gold1: #ffbf00;
$gold2: #F29800;
$gold3: #D47800;
              
$grey-000: #f4f4f4;
$grey-100: #e6e6e6;
$grey-200: #cecece;
$grey-300: #b0b0b0;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #4d4d4d;
$grey-800: #333333;

$col01: #871c0f;
$col02: #af2213;
$col03: #d9792e;
$col04: #f4c659;
$col05: #f9f2d8;
$col06: #f0f6eb;
$col07: #6fc0ba;
$col08: #368990;
$col09: #244e57;
$col10: #22394a;
$col11: #162530;

$white: #fff;
$black: #000;

// Fonts

$font-family-monospace: "JetBrains Mono", monospace !default;
$font-family-sans-serif: "Fira Sans Condensed", sans-serif !default;
$font-family-serif: "Barlow", serif !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 600 !default;
$navbar-font-family: $font-family-sans-serif !default;
$toc-font-family: $font-family-sans-serif !default;
$footer-font-family: $font-family-sans-serif !default;

// Bootstrap base shades

$light:         #f8f9fa !default;
$dark:          #212529 !default;

// Bootstrap status colors

$primary:       #17424a !default;
$secondary:     #009DA0 !default;
$success:       #708e04 !default;

$info:          #009DA0 !default;
$warning:       #ffb300 !default;
$danger:        #af2213 !default;

$body-bg: #191a1a;
$body-color: #c4c4c4;

// Titles and headings

.title {
  color: #ffbf00 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(218, 218, 219) !important;
}

h2 {
  color: rgb(218, 218, 219) !important;
}

h3 {
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  color: $gold1 !important;
}

a {
  color: #fff !important;
  /* color: rgb(218, 218, 219) !important; */
} 

/*-- scss:rules --*/

.quarto-table-wrapper {
  overflow-x: scroll;
  font-size: 17px;
}


span.theorem-title{
  background-color:#5fa6bc33;
  padding: 3pt;
  color: $col08;
  border-radius:3pt;
}


// Code

code,
code, pre {
  font-family: $font-family-monospace !important;
  font-size: 0.875em;
  background: #2b2b2b !important;
}

code span {
  color: rgb(218, 218, 219);
}
code span.co {
  color: #999999;
}
code span.st {
  color: $col04;
}
code span.fu {
  color: $col07; /* $col03; */
}
code span.cf {
  color: #af7913;
}
code span.at {
 /* color: #000; */
}
code span.va {
  color: $col07;
}
code span.at {
  color: $col02;
}
code span.fl {
  color: $gold1;
}
code span.dv {
  color: $col01;
}
code span.op {
  color: $col05;
}

p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  font-family: 'JetBrains Mono', monospace;
  color: rgb(218, 218, 219) !important;
  background: rgb(55, 56, 62) !important;
  padding: 4px 6px;
  font-size: .78em;
  line-height: 1.5;
}

div.sourceCode, div.sourceCode pre.sourceCode {
    border: none !important;
    /* color: #222; */
    /* background-color: #f6d5e920; */
    /* border-color: #191a1a; */
    /* padding-left: 3px; */
    /* border-radius: .5rem; */
}



#title-block-header.quarto-title-block.default .quarto-title .title {
 font-family: "Bitcount" !important;
 font-style: normal !important;
 font-weight: 300 !important;
 font-size: 2em !important;
 color: $gold2;
}

.navbar {
  background-color: #000000;
  color: #dee2e6;
}
.navbar-brand {
  color: $gold1 !important;
  font-family: "Crimson Pro";
  font-style: italic;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-brand {
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #17424a;
}

.blockquote>:last-child {
    margin-bottom: 0;
    color: dimgrey;
}

.btn:hover {
  color: white !important;
}

.btn-primary {
 background-color: #17424a;
 border-color: #17424a;
}
.btn-primary:hover {
 background-color: $gold3;
 border-color: $gold3;
}

.btn-secondary {
  font-family: "JetBrains Mono",monospace;
  color: white;
  background-color: #2c2c2c;
  border-color: #000;
  font-size: 12px;
}

.btn-centered {
  display: flex !important;
  justify-content: center !important;
  gap: 1em !important;
}

.centered {
  display: block !important;
  text-align: center !important;
}

div.quarto-post .listing-categories .listing-category {
    color: $col09;
    border: solid $col09 1px;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-size: .65em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    font-size: 3em;
    color: $col09;
}

.nav-footer .nav-footer-left {
    font-size: .825em;
    color: #666666;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: white;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    background: none;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: white;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    white-space: nowrap;
}

#quarto-back-to-top {
  box-shadow: none;
}

.link-dark {
  color: $gold1 !important;
}

.link-dark:focus {
  color: $gold2 !important;
}

.link-dark:hover {
  color: $gold2 !important;
}

.badge {
  font-family: "JetBrains Mono" !important;
  font-weight: 100 !important;
  color: white !important;
}

.bg-primary {
  background-color: #17424a !important;
}


// Navbar and Sidebar

// Highlight active links in the sidebar Table of Contents
.sidebar nav[role="doc-toc"] ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
  // Add a colored border to the left of active links
  border-left: 1px solid $gold1 !important;
  // Set active link color
  color: $gold1 !important;
}

// Target all sidebar Table of Contents links
.sidebar nav[role="doc-toc"] > ul li a {
  // When a link is active, highlight it
  &.active {
    border-left: 1px solid $gold1 !important;
    color: $gold1 !important;
  }
}

// Change color of links on hover
.sidebar nav[role=doc-toc] ul > li > a:hover,
.sidebar nav[role=doc-toc] ul > li > ul > li > a:hover {
  color: $sea !important;
}

// Highlight active links on hover
.sidebar nav[role=doc-toc] ul > li > a.active:hover,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active:hover {
  border-left: 1px solid $sea !important;
  color: $sea !important;
}

.navbar .navbar-nav .show>.nav-link,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code{
  color: $sea !important;
  /*
  font-family: "Bitcount Prop Double" !important;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
  font-size: 25px;
  display: flex;
  height: 79%;
  align-items: center; */

}

/*
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
 color: $sea !important;
} */

.navbar .navbar-nav .nav-link {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 50%;
    height: 1px;
    width: 0;
    transition: width 0.3s ease;
    transform-origin: center;
    transform: translateX(-50%);
    /* background-color: $sea; */
    background-image: linear-gradient(to right, #000, $sea, #000);
  }

  &:hover::after {
    width: 70%;
  }

  &:hover {
    color: $sea !important;
  }
}

.navbar-title {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    height: 1px;
    width: 0;
    transition: width 0.3s ease;
    transform-origin: center;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #000, $gold1, #000);
  }

  &:hover::after {
    width: 70%;
  }

  &:hover {
    color: $gold1 !important;
  }
}


// Manuscripts

.project-list .project-details-listing .details {
  background-color: #00797f !important;
}
.project-list .project-details-listing {
  background-color: #393939 !important;
  font-size: 13px;
}
.project-list ul li.project {
  border-left: 6px solid #095552 !important;
}

.project-list ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5em !important;
}
